@import "./node_modules/bulma/sass/utilities/initial-variables.sass";

// DCLDB colors
$dcldb-red: #de3914;
$dcldb-yellow: #e9d985;
$dcldb-green: #5b9a66;
$dcldb-teal: #007991;
$dcldb-teal-dark: #002229;
$dcldb-eggshell: #c6e7de;
$dcldb-blue: #222e50;
$dcldb-purple: #402259;

//Resetting Bulma colors
$danger: $dcldb-red;
$warning: $dcldb-yellow;
$success: $dcldb-green;
$info: $dcldb-blue;
$link: $dcldb-purple;
$primary: $dcldb-teal;
$primary-dark: $dcldb-teal-dark;
$text: $grey;

//navigation customization
$navbar-padding-horizontal: 2.5rem;

//layout
$section-padding: 0rem;
.grid-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 16px;
  font-size: calc(100% + 3vw);
}

.site-header {
  @extend .header;
  line-height: 1.25;
  padding-bottom: 0.5rem;
}

//form fields
$input-shadow: none !important;
$label-color: $grey;
$label-weight: 500;
.select:after {
  z-index: auto !important;
  border-color: $grey-light !important;
}

//misc
$size-1: 4rem;
$size-2: 3rem;

@import "./node_modules/bulma/bulma.sass";
