@import "./node_modules/bulma/sass/utilities/initial-variables.sass";

// DCLDB colors
$dcldb-red: #de3914;
$dcldb-yellow: #e9d985;
$dcldb-green: #5b9a66;
$dcldb-teal: #007991;
$dcldb-blue: #222e50;
$dcldb-purple: #402259;

//Resetting Bulma colors
$danger: $dcldb-red;
$warning: $dcldb-yellow;
$success: $dcldb-green;
$info: $dcldb-blue;
$link: $dcldb-purple;
$primary: $dcldb-teal;
$text: $grey;

//navigation customization
$navbar-padding-vertical: 0.5rem;
$navbar-padding-horizontal: 1rem;
$navbar-background-color: $primary;
$navbar-item-color: $white;
//$navbar-item-hover-color: $nav-link;
$navbar-item-hover-background-color: $primary;
$navbar-burger-color: $white;

.navbar-burger {
  background-color: $primary;
  color: $white;
}

.navbar-burger:hover {
  color: $white;
}

//layout
$section-padding: 0rem;
.grid-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

//form fields
$label-color: $grey;
$label-weight: 500;
.select:after {
  z-index: auto !important;
  border-color: $grey-light !important;
}

//misc
$size-1: 4rem;
$size-2: 3rem;

.site-header {
  line-height: 1.25;
  padding-bottom: 0.5rem;
}

@import "./node_modules/bulma/bulma.sass";
